@{
    ViewBag.Title = "Home Page";
}

<div id="jumbotron" class="jumbotron"></div>

<div class="row">
    <div id="gettingStarted"></div>

    <div id="moreLibraries"></div>

    <div id="webHosting"></div>
</div>
